---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar
    profile</a>.</div>
{% endif %}

{% include base_path %}

NYU Stern
======
**Instructor**
* Foundations of Finance, Undergraduate (Summer 2025)

**Teaching Assistant**
* Foundations of Finance, Undergraduate (Spring 2025, Fall 2025) - Instructor: Prof. Toomas Laarits
* Finance Concepts and Math, Graduate (Summer 2025) - Instructor: Prof. Alexi Savov
* Foundations of Finance, Graduate (Summer 2025) - Instructor: Prof. Alexi Savov